gemma-2b/
gemma-7b/
__pycache__/
*.py[cod]
.cache/
.vscode/
*.log
*.pyc
*.pt
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

vi-wiki/
Initial-Vi-Llama/
*.vocab
*.model
vi_clean_corpus.txt

